.header {
    padding: 0px 20px 10px 20px;
    text-align: center;
}

.logo img {
    width: 100px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    font-size: 1.5rem;
    margin-left: 10px;
    color: #333;
}
